name: Docker Image Sync
on:
  workflow_dispatch: # Allows manual trigger from GitHub UI

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync acme.sh to GHCR
        run: |
          docker pull neilpang/acme.sh:daemon
          docker tag neilpang/acme.sh:daemon ghcr.io/${{ github.repository_owner }}/acme-sh:daemon
          docker push ghcr.io/${{ github.repository_owner }}/acme-sh:daemon
